@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	
}

@layer utilities {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: #15202B; */
	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.sidebar {
	flex: 0.3;
}

.feed {
	flex: 0.4;
}

.trending {
	flex: 0.3;
}

@media (max-width: 640px) {
	.feed {
		flex: 1;
	}
}